<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cornerjob.marvelheroes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.cornerjob.marvelheroes.presentation.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"> <!-- This should be use in order to load images from marvel's site -->

        <activity android:name="com.cornerjob.marvelheroes.presentation.onboardingscreen.OnBoardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cornerjob.marvelheroes.presentation.heroeslist.HeroesListActivity" />
        <activity android:name="com.cornerjob.marvelheroes.presentation.heroedetail.MarvelHeroDetailActivity" />
    </application>

</manifest>